@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
.fondo {
  height: 100%;
  width: 100%;
  background-size:cover;
  background-position:center center;
  background-repeat: repeat;
  position:absolute;
  text-align:center;
}

.container_home {
  text-align: center;
  background:  #040505;
}
.header {
  max-width: 100%;
  background: #782b80;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 8px;
  height: 85px;
}
.image1 {
  max-width:100%;
  max-height: 100%;
  margin-left: -520px;
  position: relative;
}
.image2 {
  max-width:100%;
  max-height: 100%;
  margin-right: -1300px;
  position: relative;
}
.img {
  /* width: 300px; */
  width: 60px;
  height: 60px;
  border-radius: 20%;
  padding: 4px;
}

.searchbar {
  width: 300px;
}

.navbar {
  width: 500px;
}
.contenido {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Courier New", Courier, monospace;
  color: rgb(237, 244, 250);
  font-weight: 600;
}
.navbar .contenido a {
  text-decoration: none;
  color: aliceblue;
}
.navbar .contenido a:hover {
  color: black;
}

button {
 
  color:white;
  position: relative;
  display: flex;
  width: 10em;
  height: 2.5rem;
  line-height: 3;
  background: #030405;
  overflow: hidden;
  border-radius: 0.3em;
  
}
/* Remove IE arrow */
.button_game::-ms-expand {
  display: none;
}

.button_game {
  color:white;
  position: relative;
  display: flex;
  width: 10em;
  height: 2.5rem;
  line-height: 3;
  background: #050607;
  overflow: hidden;
  border-radius: 0.25em;
}

/* Transition */
.addGame:hover {
  color: #f39c12;
}

.main-title {
  font-family: "Bangers", cursive;
}

.backhome{
  font-size: 50px;
}

