@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Play&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;1,200&display=swap');
.container {
  width: 80vw;
  height: 80vh;
  background: linear-gradient(top, #fff, white);
  background: linear-gradient(110deg, #892ba5 60%, #531d4c 60%);
  text-align: center;
  
  
}

.button {
  font-family: "Bangers", sans-serif;
  font-size: 20px;
  text-indent: 20px;
  direction:ltr;
  line-height: 25px;
  font-weight: 400px;
  margin-top: 700px;
  margin-left: 800px;
  border-radius: 20px;
  background: #a70321;
  text-decoration-color: #dddcd4;
  border: 2.5px solid;
  padding: 7px 15px;
  padding-top: 6px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 80px;
  box-shadow: 0 0 8px rgb(12, 9, 9);

  
}

.init_title {
  font-family: "Bangers", cursive;
  font-size: 60px;
  margin-top: -1050px;
  margin-left: 280px;
  color: rgb(223, 223, 13)
}