@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;1,200&display=swap');
.navPag {
    width: 100%;
    height: 8vh;
  }
  
  .navPag .pagination {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0;
  }
  
  .navPag .pagination li {
    
    height: 100%;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .navPag .pagination li button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #07060c;
    border: 4px solid rgb(77, 22, 122);
    border-radius: 9px;
    height: 65%;
    width: 50%;
    outline: none;
    color: #eb1b3d;
    margin-left: 20px;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
    padding-top: 6px;
    padding-right: 25px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
  
  .navPag .pagination li button:hover {
    
    color: whitesmoke;
  }
  
  .navPag .pagination li button:focus {
    color: #080404;
    background-color: #5f2177;
  }